#projectSections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 1em;
}
.about{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    row-gap: 0em;
}
