.projectSections{
    display: flex;

}
.about{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    row-gap: 0em;
}
#skillsTitle {
    display: flex;
    justify-content: center;
}
.skills {
    display: flex;
}

.logoImg{
    height: 15em;
    width: auto;
}
.webImg{
    height: 3em;
}
.linkImg{
    height: 3em;
}
.gitImg{
    height: 2.9em;
}
.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 40px;
}
.footDiv{
    display: flex;
    justify-content: center;
    align-content: center;
}
.copy{
    padding: 5px;
    margin-left: 10em;
    margin-right: 10em;
}
.titles{
    font-weight: lighter;
    padding-right: 3em;
}


