*{
    font-family:'Raleway', sans-serif;
    line-height: 1.618em;
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}
body {
    background-image: url(../images/1.jpg); 
}

header {
    padding: 1em 0;
    display: flex;
    justify-content: center;
}

nav {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    background-color:dimgray;

}
nav a{
    color: white;
    text-decoration: none;
    padding: .5em 2em;
}
nav a:hover {
    background-color:silver;
}
#centerSections {
    margin: 0 auto;
    max-width: 1000px; 
}
section{
    margin: 1em 0;
    padding-top: 1em;
    min-height: 20em;
}
section ul {
    padding-left: 1.5em;
}
footer {
    margin-top: 2em;
    background: #666;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}
footer span {
    font-size: 1.5em;
    color: #999;
}
footer ul{
    display: flex;
    flex-flow: row;
    justify-content:center;
    justify-content:space-around;
    list-style: none;
}
#projectSections article {
    background: #ccc;
    padding: 1em;
}
#projectSections article img {
    width: 100%;
    border: 1px solid #333;
}
article h1, h2, h3 {
    text-align: center;
}
.about {
    margin: 0;
    background-color: #fff;
    /* height: 15%; */
    font-size: large;
    display: flex;
}
.about p {
    width: 40%;
    margin: 0;
    max-width: 400px; 
    margin: 3em;
}
.self {
    height: 20em;
    width: auto;
    margin: 3em;
}
#skillsTitle {
    background-color:#666;
    border-radius: 10px;
    margin: 1em;
    font-size: 3em;
    color:#fff;
    font-weight: lighter;
}
.skills {
    background-color: #fff;
    padding: 1em;
    text-align: center;
}
h3 {
    font-weight: lighter;
    font-size:x-large
}
.contactSection{
    background-color: #fff;
    padding: 1em;
    text-align: center;
}
.seedFeed{
    background-color: #fff ;
    display: flex;
}
.smallSF{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.seedImg{
    height: 12em;
    margin: 15px;
}
.adagio{
    background-color: #fff ;
    display: flex;
}
.smallAM{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.adagioImg{
    height: 12em;
    margin: 15px;
}
