*{
    font-family:'Raleway', sans-serif;
    line-height: 1.618em;
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    color: #666;
}
body {
    background-image: url(../images/1.jpg); 
}

header {
    padding: 1em 0;
    display: flex;
    justify-content: center;
}

nav {
    height: 4em;
    width: 100%;
    background-color: #c6812f;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: solid;
    border-bottom: solid;
    border-width: 2px;
    border-color: #666;
  
}
nav a{
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    font-size: xx-large;
    font-weight: lighter;

}
nav a:active {
    transform: translate(2px, 2px);
}
#centerSections {
    margin: 0 auto;
    max-width: 1000px; 
}
section{
    margin: 1em 0;
    padding-top: 1em;
    min-height: 20em;
}
section ul {
    padding-left: 1.5em;
}
footer {
    height: 5em;
    background: #c6812f;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    border-top: 2px solid #666;
}


#projectSections article {
    background: #ccc;
    padding: 1em;
}
#projectSections article img {
    width: 100%;
    border: 1px solid #333;
}
article h1, h2, h3 {
    text-align: center;
}
.about {
    margin: 0;
    background-color: #fff;
    /* height: 15%; */
    font-size: large;
    display: flex;
}
.about p {
    width: 40%;
    margin: 0;
    max-width: 400px; 
    margin: 3em;
}
.self {
    height: 20em;
    width: auto;
    margin: 3em;
}
#skillsTitle {
    background-color:#c6812f;
    border-radius: 10px;
    margin: 1em;
    font-size: 3em;
    color:#fff;
    font-weight: lighter;
    border: 2px solid;
    border-color: #666;
   
}
.contactTitle{
    background-color:#666;
    border-radius: 10px;
    margin: 1em;
    font-size: 3em;
    color:#fff;
    font-weight: lighter;
    display: flex;
    justify-content: center;
}
.skills {
    background-color: #fff;
    padding: 1em;
    text-align: center;
    border: none;
    border-radius: 25px;
}

.contactSection{
    background-color: #fff;
    padding: 1em;
 display: flex;
 justify-content: space-around;
 align-items: center;

}
.seedFeed{
    background-color: #fff ;
    display: flex;
    padding: 1em;
    border: none;
    border-radius: 25px;
}
.smallSF{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.seedImg{
    width: 17em;
    margin: 15px;
    border: none;
    border-radius: 25px;
}
.truckImg{
    width: 17em;
    margin: 15px;
    border: none;
    border-radius: 25px;
}
.adagio{
    background-color: #fff ;
    display: flex;
    padding: 1em;
    border: none;
    border-radius: 25px;
}
.smallAM{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.adagioImg{
    width: 17em;
    margin: 15px;
    border: none;
    border-radius: 25px;
}
.farmClicker{
    background-color: #fff ;
    display: flex;
    padding: 1em;
    border: none;
    border-radius: 25px;
}
.farmImg{
    width: 17em;
    margin: 15px;
    border: none;
    border-radius: 25px;
}
.smallFM{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.beepDiv{
    background-color: #fff ;
    display: flex;
    padding: 1em;
    border: none;
    border-radius: 25px;  
}
.smallTruck{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.contactSection{
    background-color: #fff ;
    display: flex;
    padding: 1em;
    border: none;
    border-radius: 25px;
}
